<section id="liste-personnages">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Liste des personnages</h1>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let personnage of personnages">
                <div class="card">
                    <img src="{{ personnage.thumbnail.path }}.{{ personnage.thumbnail.extension }}" class="card-img-top" alt="Image du personnage {{ personnage.name }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ personnage.name }}</h5>
                      <p class="card-text">{{ personnage.description }}</p>
                      <a class="btn btn-primary button" routerLink="/details-personnages/{{ personnage.id }}">Details</a>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>
</section>
