<section id="details-personnage">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 *ngFor="let detail of personnage">Détails du personnage {{ detail.name }}</h1>
            </div>

            <div class="col-12">
                <div class="card mb-3" *ngFor="let detail of personnage">
                    <img src="{{ detail.thumbnail.path }}.{{ detail.thumbnail.extension }}" class="card-img-top personnage-img" alt="Image du personnage {{ detail.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ detail.name }}</h5>
                        <p class="card-text">{{ detail.description }}</p>
                        <p class="card-text"><small class="text-muted">Last updated {{ detail.modified }}</small></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
