$font-1: 'Rubik', sans-serif;

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: auto;
    font-family: $font-1, helvetica, arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: $font-1, helvetica, arial, sans-serif;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
